Source: node-fetch
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , chai,mocha,node-busboy,node-chai-as-promised,node-coveralls,node-form-data,node-p-timeout,node-streamsearch
 , node-data-uri-to-buffer (>= 6)
 , node-rollup-plugin-commonjs
 , node-rollup-plugin-inject
 , node-rollup-plugin-node-resolve
 , node-rollup-plugin-replace
 , node-rollup-plugin-terser
 , node-rollup-plugin-typescript
 , node-tslib
 , node-typescript
 , rollup
 , terser
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/js-team/node-fetch
Vcs-Git: https://salsa.debian.org/js-team/node-fetch.git
Homepage: https://github.com/bitinn/node-fetch
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-fetch
Architecture: all
Depends: ${misc:Depends}
 , node-data-uri-to-buffer (>= 5)
Provides: ${nodejs:Provides}
Multi-Arch: foreign
Description: light-weight module that brings window.fetch to node.js
 Instead of implementing XMLHttpRequest in Node.js to run browser-specific
 Fetch polyfill, why not go from native http to Fetch API directly? Hence
 node-fetch, minimal code for a window.fetch compatible API on Node.js runtime.
 .
 Node.js is an event-based server-side JavaScript engine.
